<%- include('parts/top.ejs')%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="container">
        <form class="form-group" method="POST" action="/mybooks/update" enctype="multipart/form-data"><!-- 5tr m3hom photo -->
            <div class="mb-3">
                <label>Book Title</label>
                <input type="text" class="form-control" name="title" value="<%= bookUpdate.title%>">
    
            </div>
            <div class="mb-3">
                <label>Book Description</label>
                <textarea type="text" class="form-control" name="description" ><%= bookUpdate.description%></textarea>
    
            </div>
            <input type="hidden" name="bookId" value="<%= bookUpdate._id%>">
            <div class="mb-3">
                <label>Book Author</label>
                <input type="text" class="form-control"  name="author" value="<%= bookUpdate.author %>">
    
            </div>
            <div class="mb-3">
                <label>Price</label>
                <input type="number" class="form-control" name="price" value="<%= bookUpdate.price%>">
    
            </div>
            <img width="80" height="80" src="/uploads/<%= bookUpdate.image%>">
            <input type="hidden" name="oldImage" value="<%= bookUpdate.image%>">
            <div class="mb-3">
                <label>Image</label>
                <input type="file" accept=".jpg,.png,.jpeg" class="form-control" name="image"><!-- npm multer -->
    
            </div>
            <% if (Smessage) { %>
                <div class="alert alert-success"><%= Smessage %></div>
                <% } %>
                <% if (Emessage) { %>
                    <div class="alert alert-danger"><%= Emessage %></div>
                    <% } %>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

    <%- include('parts/bottom.ejs')%>